@import "./variables.scss";

html.dialog-on {
  height: 100%;
  overflow: hidden;

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.overlay {
  display: none;
}

.details-dialog {
  .dialog {
    display: none;
  }


  &.on {
    .dialog-close, .dialog-close-dark {
      position: fixed;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .dialog-close-dark {
      display: none;

      @media (max-width: $break-small) {
        display: block;
      }
    }

    .dialog {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 100;
      overflow-y: scroll;
      overflow-x: hidden;
    }

  }
}


/********** site style ************/

.details-dialog {
  .dialog-content {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;

    @media (max-width: $break-small) {
      width: 95vw;
    }
  }
}

.summary {
  background-color: white;
  padding: 0.5em 1em;
  cursor: pointer;
	margin-bottom: 0.5em;

  @include regular-bold;

  &:hover {
    color: $link-color;
  }
}
