.qa-section-head {
  margin-bottom: 50px;
}

.qa {
  border: 20px solid $main-color;
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 30px;
  background-color: white;
  margin-bottom: 20px;
}

.qa header {
  display: flex;
  justify-content: space-between;

  @media (max-width: $break-small) {
    display: block;
  }

  .qa-number {
    color: #D8C9B8;
    font-size: 140px;
    line-height: 1em;
    position: relative;
    top: 0;
    left: 50px;

    @media (max-width: $break-small) {
      font-size: 70px;
      left: 0;
    }
  }

  .left {
    align-self: flex-start;
  }

  .right {
    text-align: right;
  }

  h1 {
    margin-top: 0;
    border-bottom: dotted 6px #6C6E70;
    padding-bottom: 1em;
  }

  h2 {
    text-align: left;
    @include header-text-regular;
  }
}


.qa-content {
  padding: 0 50px;
}

@media (max-width: 600px) {
  .qa {
    padding: 20px;
    border: 0px solid $main-color;
  }

  .qa-content {
    padding: 0px 0px;
  }
}


.card-graph {
  margin-top: 30px;
  width: 100%;
}

.card-2 {
  .illustration {
    width: 400px;

    @media (max-width: $break-small) {
      width: 80%;
      margin: 0 auto;
      display: block;
    }
  }
}

.card-3 {
  .illustration {
    width: 200px;
    float: right;
    padding-left: 30px;

    @media (max-width: $break-small) {
      display: none;
    }
  }

  .card-graph {
    @media (max-width: $break-small) {
      margin: 0 auto;
    }
  }
}
