@import "./normalize.scss";

$main-color: #F8CD47;
$section-spacing: 30px;

@mixin font-regular {
  font-style: normal;
  font-weight: 400;
}

@mixin font-bold {
  font-style: normal;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $main-color;
  font-family: source-han-sans-traditional, serif;
}

main {
  width: 80%;
  margin: 0 auto;
}

section {
  margin-bottom: $section-spacing;
}

h1 {
  @include font-bold;
}

.header-img {
  width: 200px;
}

.plea {
  color: white;
  padding: 30px;
  width: 550px;
  margin: 0 auto 100px auto;
  position: relative;

  .plea-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    z-index: -1;
  }

  h1 {
    line-height: 1.5em;
    font-size: 30px;
    transform: skewY(-10deg);
    text-align: center;

    @include font-bold;

    b {
      font-size: 40px;

      @include font-bold;
    }
  }
}

.wants {
  header {
    display: flex;
    align-items: center;

    h1 {
      transform: rotate(-5deg);
      margin-left: 50px;
    }

    img {}
  }

  ul {
    $item-width: 450px;
    $item-margin: 30px;

    list-style: none;
    width: 2 * ($item-width + 2 * $item-margin) + 20px;;
    margin: 0 auto;
    padding: 0;


    li {
      width: 450px;
      position: relative;
      display: inline-block;
      margin: 30px;
    }

    img {
      height: 160px;
      position: absolute;
      top: 50%;
      margin-top: -80px;
      right: 0;
    }

    h5 {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 50px;
      margin: 0px;
      line-height: 1em;
    }

    h6 {
      font-size: 32px;
      margin: 0;
    }

    small {
      font-size: 20px;
      padding-left: 100px;
    }

    .want-box {
      background-color: white;
      border-radius: 30px;

      padding: 20px 100px 20px 60px;
      height: 150px;
      max-width: 400px;
    }

  }
}

