$main-color: #F8CD47;
$link-color: #FF328B;

$section-spacing: 50px;

$break-small: 650px;

@mixin card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin font-regular {
  font-style: normal;
  font-weight: 400;
}

@mixin font-bold {
  font-style: normal;
  font-weight: 700;
}

@mixin header-text {
  font-style: normal;
  font-weight: 700;
  font-size: 50;
}

@mixin header-text-sm {
  font-style: normal;
  font-weight: 700;
  font-size: 30;
}

@mixin regular-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 20;
}

@mixin regular-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

@mixin small-text {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
