{% extends "partials/card-layout.njk" %}

{% block class %}
card-2
{% endblock %}

{% block number %}
Q2
{% endblock %}

{% block headline %}
廢核並增加綠能後，<br />台灣的<em>電價</em>會飆升嗎？
{% endblock %}

{% block sub_headline %}
電價不會大漲，不要被誇大的謠言騙了！
{% endblock %}

{% block content %}

<img class="illustration" src="./image/card-2-illustration.svg" alt="">

<p>
所有國際能源報告都指出，隨著再生能源越來越普及，未來再生能源電價將快速大幅下降，甚至可預期未來將低於平均電價。
</p>

<p>
反觀核電，由於福島災後發現許多核安的弱點，因此核電被要求再投入更多經費來改善安全措施，以及過去除役與核廢處置實際成本被大幅低估，再加上核電興建工期不斷延長已成常態，使得核電成本不斷追加提高，財務風險持續增加，許多國際金融機構都因為成本風險問題，不願再投資核電了，轉投資越來越便宜的再生能源。
</p>

<p>
目前經濟部估算，在非核減煤政策下，考量再生能源的發展、提升燃氣、核四資產減損攤提，預計2025年後平均每度電會增加0.5元。這只是回到台灣2013至2015年間的電價水準，並不是擁核者刻意誇大的高電價。
</p>

<img class="card-graph" src="./image/card-2-graph.jpg" alt="">

{% endblock %}
