{% extends "partials/card-layout.njk" %}

{% block number %}
Q1
{% endblock %}

{% block headline %}
不用核電，會不會增加<br /><em>燃煤空污？</em>
{% endblock %}

{% block sub_headline %}
不會的，非核跟減煤減空污當然可以並行！
{% endblock %}

{% block content %}
<p>
環團長期推動，並要求政府規劃並落實「非核減煤」的能源政策目標，甚至比以核養綠減更多空污，「非核減煤」目標有：
</p>

<ul>
    <li>1. 2025年達成老舊核電如期除役</li>
    <li>2. 燃煤發電從現在的45%降到30%</li>
    <li>3. 減少的發電量也已有更好的取代做法：再生能源提升到20%甚至更多，與燃氣發電提高到50%。</li>
    <li>4. 節能也要積極增加：在非核逐步達成的同時，更能大幅減少燃煤發電、改善空氣品質。 </li>
</ul>

<p>
事實上，「以核養綠」提出他們2025年的燃煤發電目標，除了核電要佔20%，煤電更要佔40%，比「非核減煤」還多。儘管「非核減煤」燃氣發電較多，但因為燃氣發電的空污及排碳量都比燃煤低非常多，所以整體來算，「非核減煤」遠比「以核養綠」的空污少25%、排碳量少15%！
</p>

<img class="card-graph" src="./image/card-1-graph.svg" alt="">

{% endblock %}
