{% extends "partials/card-layout.njk" %}

{% block class %}card-3{% endblock %}

{% block number %}
Q3
{% endblock %}

{% block headline %}
不用核電，台灣<br />到底會不會<em>缺電？</em>
{% endblock %}

{% block sub_headline %}
台灣已維持在穩定供電的安全範圍，<br />
不用擔心缺電了！
{% endblock %}

{% block content %}

<img class="illustration" src="./image/card-3-illustration.svg" alt="">

<p>
今年夏天尖峰，備轉容量率已回穩到超過6%，相當於有4部台中火力機組可以備用，已無缺電危機。明年起隨著再生能源與燃氣機組陸續增加，備轉容量率會持續上升到10%以上。再搭配能源效率的提升，就更不用擔心缺電了。經過能源智庫專業估算，在非核減煤的政策期程下，只要持續做好能源效率的提升，台灣接下來都可以維持在穩定供電的安全範圍。
</p>

<img class="card-graph" src="./image/card-3-graph.svg" alt="">

{% endblock %}
