<div class="details-dialog">
    <div class="summary">{% block summary %}{% endblock %}</div>

    <div class="dialog">
        <div class="overlay"></div>
        <img class="dialog-close" src="./image/dialog-close.svg" alt="" />

        <article class="dialog-content qa card {% block class %}{% endblock %}">
            <header>
                <div class="left">
                    <div class="qa-number">{% block number %}{% endblock %}</div>
                    <img class="section-header-img" src="./image/label-really.svg" alt="" />
                </div>

                <div class="right">
                    <h1 class="h1">{% block headline %}{% endblock %}</h1>
                    <h2>{% block sub_headline %}{% endblock %}</h2>
                </div>
            </header>
            <div class="qa-content">
            {% block content %}{% endblock %}
            </div>
        </article>
    </div>
</div>
