<details class="qa-details details-reset details-with-dialog">
    <summary>{% block summary %}{% endblock %}</summary>
    <details-dialog class="anim-fade-in fast qa-dialog">
        {% block details %}{% endblock %}
    </details-dialog>
</details>
