{% extends "partials/details.njk" %}

{% block summary %}
	10. 太陽光電不是基載，會不會很不穩定？
{% endblock %}

{% block number %}Q10{% endblock %}

{% block labelimg %}"./image/label-worry.svg"{% endblock %}

{% block headline %}
	<em>太陽光電</em><br />不是基載，會不會很不穩定？
{% endblock %}

{% block sub_headline %}
	基載是傳統電力系統的觀念，不要被過去的傳統觀念給綁住了！
{% endblock %}

{% block content %}

	<p>
	國際能源總署最新發表的《2018電力系統轉型現況》報告已指出，能源轉型下的電力系統，若要容納更多再生能源，應增進系統的「彈性」，也就是電力系統快速升降、調度的能力，來取代傳統「基載」概念。國際上近年已經有很豐碩的實務與成果。反之，核電不具有調度彈性，相當不適合與再生能源搭配，根本跟「以核養綠」的宣傳背道而馳。
	</p>

	<p>
	夏季下午為用電尖峰，此時也是光電最有效率之際，因此增加的用電量可以靠光電補足。太陽下山後，用電尖峰也已過去。按照近年國際（如加州、澳洲與OECD等國）經驗，當光電在夜間無法供電時，透過事先儲能、熱泵、天然氣與抽蓄水力等能快速調度的能源，足以靈活搭配來供應晚間用電，減少傳統電廠上線的必要性。所以太陽下山後沒有電這一題，在國際上已經有很豐富的因應經驗囉！
	</p>

	<p>
	因此，增加快速升降的燃氣發電、抽蓄水力的應用，增設儲能設施、智慧電網與自動化的電力需求管理，搭配更精準的天氣預測技術，這都是能搭配再生能源的具體方法。台電目前也透過軟硬體的佈建，逐步改善、提升系統的快速調度彈性中，要因應2025年再生能源占比20%不是問題。
	</p>

{% endblock %}
