{% extends "partials/details.njk" %}

{% block summary %}
11. 太陽能板會不會污染環境？
{% endblock %}

{% block number %}Q11{% endblock %}

{% block headline %}
<em>太陽能板</em><br />會不會污染環境？
{% endblock %}

{% block sub_headline %}
每種能源都會有環境衝擊，但再生能源的環境衝擊是最小的。光電板製程所產生的污染，比半導體製程低很多，廢棄光電板也已經可以做到95％回收。
{% endblock %}

{% block content %}
	<p>
如果以光電板的製程來看，其實很近似於半導體。以往矽晶太陽能切晶製程大多採用砂漿切割，會產生大量碳化矽粒子、矽屑、金屬與切削油，如果沒有妥善處理，就會產生污染。因此，新一代鑽石切割技術已捨棄原有的砂漿，使用快速且高效的鑽石切割線，順利排除砂漿污染，台灣的茂迪、中美晶等太陽能廠早已轉進鑽石切割，因此污染也比半導體製程低很多。
	</p>

	<p>
另外，台灣企業也已開發出廢矽漿的回收技術，可以再製成煉鋼廠的原料，還可減少煉鋼的焦炭使用量進而減少空氣污染，成為循環經濟的典範。
	</p>
 
	<p>
 回收的部分，目前廢棄的太陽光電板已經可以做到95%回收了，歐洲環保公司Veolia 已打造歐洲第一座太陽能專門回收廠，將太陽能板分解成玻璃、矽、塑膠、銅與銀之後，再將材料粉碎，重新用於製造新面板。不少國家也開始成立太陽能回收機構，來處理光電使用20-25年後大量的廢棄太陽能板。
	</p>


	<p>
 台灣光電設置較晚，還未到大量回收期，但主管單位已在設計光電回收制度，包含預繳回收基金、建立生產履歷等，都是研擬中的措施。簡單來說，技術不是問題，但需要建立良善的回收制度和持續的監督，就能讓太陽能板順利回收。
	</p>


{% endblock %}
