{% extends "partials/details.njk" %}

{% block summary %}
12. 設置太陽能板會不會破壞農漁地、生態？
{% endblock %}

{% block number %}Q12{% endblock %}

{% block headline %}
設置太陽能板會不會破壞<br /><em>農漁地、生態？</em>
{% endblock %}

{% block sub_headline %}
太陽能發電時不會產生廢水與空污，但仍需透過前期的生態調查、土地區位審查、利害相關方的程序協商與案場設計，避免排擠生態與農地原有環境與社會功能，讓環境衝擊降到最低。
{% endblock %}

{% block content %}
<p>
太陽能發電時不會產生廢水與空污，但仍需透過前期的生態調查、土地區位審查、利害相關方的程序協商與案場設計，來避免排擠生態與農地原有的環境與社會功能，讓環境衝擊降到最低。
</p>

<p>
太陽能板目前只開放設置於屋頂及農業設施、地層下陷區、掩埋場與受汙染土地、鹽業用地、水庫埤塘及滯洪池。農漁用地的部分，僅允許660平方公尺以下的點狀利用，或結合溫室等農業設施，未開放大面積設置。
</p>

<p>
若要在「重要濕地」設置光電，必須先通過環評，為了生態保護，政府審查濕地上任何開發計畫時，都應進行生態調查，並諮詢地方團體，藉由嚴格審查，迴避生態及環境敏感地區。
</p>

<p>
目前確實有些個案因設置過程粗糙或選址不當引起爭議，關心環境與能源的公民必須一起來監督，可以讓太陽光電「更綠」。
</p>
{% endblock %}
