{% extends "partials/details.njk" %}

{% block summary %}
  13. 「能源轉型」到底是什麼？做得到嗎？
{% endblock %}

{% block number %}Q13{% endblock %}

{% block headline %}
  <em>「能源轉型」 </em> <br />到底是什麼？做得到嗎？
{% endblock %}

{% block sub_headline %}
  面對不斷成長的用電需求，台灣習慣以蓋電廠來因應跟解決。「能源轉型」拒絕這樣短視、飲鴆止渴的作法，從「供、需」兩端進行改革。
  <br />
  事實上，能源轉型已經是現在式！2018年太陽光電的裝設階段目標將可達標甚至超過，年底核一一號機也將開始除役，而燃煤發電也可在今年看到顯著地減少。
{% endblock %}

{% block content %}

  <p>
  台灣能源政策因長期追求眼前的低價，輕忽環境危害、災害風險與公平，面對不斷成長的用電需求，習慣以蓋電廠來因應跟解決，忽視需求面的管理以及系統效率的提升，因此民間團體長期推動的環境與能源轉型改革，絕不只是發電方式的改變，除了供給面要求逐步達成非核減煤擴大再生能源，同時也包括能源需求的效率管理，與透過外部成本內部化來帶動高耗能產業的轉型，而非只想以不可持續的核、煤發電，短視地因應所有的能源問題，這只是飲鴆止渴。
  </p>

  <p>
  針對未來分散化的能源形態，民間團體也一直培力公民投入新能源和參與更層級的能源治理，也只有如此，才有可能翻轉過去累積的弊病，達成真正的轉型。
  </p>

  <p>
  事實上，能源轉型已經開始啟動，2018年太陽光電的裝設階段目標將可達標甚至超過，今年底核一一號機也將開始除役，而燃煤發電也可在今年看到顯著地減少，在再生能源與燃氣發電量增加後，減幅將可再擴大。我們還要持續積極強化能源效率提升與節電的政策，能源轉型絕對不會是口號，台灣社會是有機會一起完成如此有挑戰性的轉型工作。
  </p>
{% endblock %}
