{% extends "partials/details.njk" %}

{% block summary %}
5. 核四若重啟續建，還要多少時間？花多少錢？
{% endblock %}

{% block number %}Q4{% endblock %}

{% block headline %}
核四若<em>重啟續建</em>，<br />還要多少時間？花多少錢？
{% endblock %}

{% block sub_headline %}
還沒完工的核四，自始至終都是個錢坑大爛帳，工程不斷延期，預算從原本的1697億元，四度追加，目前已用掉2839億元！此外，即便公投通過，保守估計需要六到七年以上還不一定能運轉。
{% endblock %}

{% block content %}

  <p>
核四其實還沒有完工，核四的預算從原本核定的1697億元，已追加預算四次，但每次都無法履行完工日期的承諾，目前用掉的總經費已暴增到2839億元。核四成為台灣延宕最久的公共工程，也成為全世界蓋最久、造價最高的核電廠之一。
  </p>

  <p>
2013年台電公司曾初步估算若要啟動核四商轉，需要再投入約478億元之高額經費，但仍無法保證完工與安全，因此被立法院朝野黨團擋下，現今若要重啟核四工程，經費必將遠超過當初預估。核四於2014年僅完成1號機之試運轉測試，試運轉報告尚未獲原能會全部審核通過，仍有多項管制項目尚未完成審查，如要啟封續建需要多項安全檢查與測試，即便公投通過核四商轉，亦不可能即刻運傳，最保守估計至少需時6~7年方能完成相關程序，還不保證可運轉。
  </p>

  <p>
面對一個弊端連連、近乎不可能安全又不斷追加預算的錢坑核電廠，停建與廢止才是最好的停損。
  </p>

{% endblock %}
