{% extends "partials/details.njk" %}

{% block summary %}
6. 聽說高階核廢料可以送國外再處理、還可以再利用，所以不是問題？
{% endblock %}

{% block number %}Q6{% endblock %}

{% block headline %}
聽說<em>高階核廢料</em><br />可以送國外再處理、還可以再利用，<br />所以不是問題？
{% endblock %}

{% block sub_headline %}
「高階核廢再處理」歐美大多不採用，因為無法真正解決核廢問題，而且過於昂貴。另外，沒有一個國家允許存放外國核廢料，就算花錢送到國外再處理，最後還是要運回台灣。
{% endblock %}

{% block content %}

<p>
高階核廢再處理不是什麼靈丹妙藥，絕大多數嘗試過的國家都因過於昂貴，又無法真正解決核廢問題而放棄再處理了。
</p>

<p>
高階廢燃料棒的境外再處理不是新的技術，這個技術最主要的目的，不是為了讓核廢料消失，而是從用過燃料棒中取出鈽跟鈾後讓燃料循環使用，但取出後還是會剩許多放射性成分更複雜的萃取殘餘物，也還是高階核廢料，半衰期依舊長達一萬年。國際上許多核物質專家更擔心再處理會導致核武擴散的風險。
</p>

<p>
依據再處理技術的主要擁有者法國的法律，《放射性廢料與物質永續管理相關計劃法》第八條規定外國廢料禁止存放，所有他國生產的核廢都必須返回原國，意即，如果台灣的廢燃料棒選擇境外再處理，在花了數千億後，半衰期長達一萬年的高階萃取殘餘物還是要送回台灣，一樣無處尋找要存放數十萬年的最終處置廠址，所以高階核廢問題並沒解決。
</p>


{% endblock %}
