{% extends "partials/details.njk" %}

{% block summary %}
  7. 核電已使用30多年，為什麼要堅持廢核？
{% endblock %}

{% block number %}Q7{% endblock %}

{% block headline %}
核電已使用<em>30</em>多年，<br/>為什麼要堅持廢核？
{% endblock %}

{% block sub_headline %}
  核災是不能承受一次的「萬一」！
  台灣三座老舊核電廠，都已呈現老化現象，異常違規不斷，也都不符合核電廠選址「距廠址8公里內不能有活動斷層」的規定。
{% endblock %}

{% block content %}

  <p>
  台灣老舊核電廠沒發生過嚴重核災，不代表未來就不會出事，福島核電廠也是經過了延役的安全審查，但還是發生了嚴重的核災事故。
  </p>

  <p>
  台灣三座老舊核電廠皆不符合核電廠選址規定『距廠址8公里內不能有活動斷層』，北台灣最大的活動斷層直接穿過核一廠與核二廠之間，距核一廠7公里，核二廠5公里，且核二廠就位於山腳斷層的岩漿庫孕震帶的正上方。恆春斷層直接從核三廠大門穿過，距離其反應爐系統相關區域僅800公尺！
  </p>

  <p>
  核一二三廠過去幾年，已呈現老化的現象，分別發生過把手鬆脫、爐心襯板龜裂、錨定螺栓嚴重毀損、變壓器失火、核燃料棒破損和發電箱避雷器爆炸，過去30年間三座核電廠共有493筆違規事件，近16年間就發生164起異常事件、26次急停。
  </p>

  <p>
  所謂「2025非核家園」的實際意涵，只是老舊核電廠運轉40年後，就到期除役不再延長而已，台灣這三座不符合地質條件，又異常違規不斷的核電廠，三十多年來沒出重大事故已是幸運，難道我們還要在40年運轉期限到期後繼續延役使用，繼續依賴好運嗎？
  </p>

  <img class="card-graph" src="./image/q7-graph.png" alt="">

{% endblock %}
