{% extends "partials/details.njk" %}

{% block summary %}
8. 2025年燃氣發電量占比要提高到50%，會不會有國安風險？會破壞藻礁嗎？
{% endblock %}

{% block number %}Q8{% endblock %}

{% block headline %}
2025年<em>燃氣</em><br />發電量占比要提高到50%，<br />會不會有國安風險？會破壞藻礁嗎？
{% endblock %}

{% block sub_headline %}
目前已修法逐步調高燃氣的安全存量天數，因應燃氣輸送的各種風險。
{% endblock %}

{% block content %}

<p>
燃氣發電比燃煤發電乾淨許多，未來將會大量取代燃煤發電，佔發電量的50%，同時也可提供再生能源大幅增加時的快速升降配套，這些重要功能都是核電無法取代的。
</p>

<p>
但燃氣發電增加後，確實需要審慎拿出配套，來因應燃氣輸送的各種風險。首先經濟部已經修法，逐步調高燃氣的安全存量天數，在燃氣更高占比的時候，讓安全存量提高到14天以上，整體儲槽存量也超過24天，因應短期天候不佳而燃氣船無法進港就不成問題。
</p>

<p>
其二，即便燃氣發電量增加，但系統中還是有許多低度運轉或閒置的燃煤機組，若擔心燃氣輸送因故受阻而減少氣源，其實可以閒置的燃煤機組作為少數緊急時刻的備援。長期來看，再生能源才是台灣真正的自主能源，發展綠能的腳步更不敢減緩。
</p>

<p>
當前第三天然氣接收站與觀塘藻礁生態衝突的爭議，主要是接收站地點與方案該如何設計的問題。中油的選址方案目前還是讓民間有許多疑慮，所以，過去民間早已提出許多更好的替代地點與設計規劃，可惜中油一直杯葛，不願意好好評估。因此，環保團體依舊會持續倡議更好的替代方案尋求生態與能源規劃的多贏，讓非核減煤的能源政策不會跟保護藻礁與珊瑚發生衝突。
</p>

{% endblock %}
