{% extends "partials/details.njk" %}

{% block summary %}
	4. 為什麼核四廠無法使用？
{% endblock %}

{% block number %}Q9{% endblock %}

{% block headline %}
為什麼<br /><em>核四廠無法使用？</em>
{% endblock %}

{% block sub_headline %}
	核四近二十年來弊端不斷，<br />
	而且沒通過原能會的安全審查，<br />
	歐盟核安專家作出最好取消興建的建議。
{% endblock %}

{% block content %}

	<h6 class="highlight-head">
		統包變分包，介面不同調
	</h6>

	<p>
	1995年核四招標，台電把原先的統包規劃改成分包，將最重要的核島區分包給數十個包商，使得儀控系統整合成為台電工程師口中「不可能的任務」。
	</p>

	<h6 class="highlight-head">
		弊端頻傳，違規不斷
	</h6>
	<p>
	核四工程弊端頻傳，因偷工減料、施工品質不佳、輕忽核安、經費暴增乃至官員收賄等問題，共被監院糾正六次、彈劾兩次。台電更逕自違規核准變更設計1500多件，施工與驗收過程問題重重，至今尚未完工。根據原能會管制記錄，核四建廠過程被判超過17件重大違規事件，被開出超過2290萬的罰款，另外還有近50件其他違規，被要求改善事項超過450件。
	</p>

	<h6 class="highlight-head">
		變更設計
	</h6>
	<p>
	台電違規自行變更原廠設計達395處，其中反應爐緊急冷卻水道支架焊接工程未照原設計，若爐心漏水、冷卻水又故障無法補充，恐發生嚴重輻射外洩。
	</p>

	<h6 class="highlight-head">
		淹水事件
	</h6>
	<p>
	曾連續發生三次核電廠變泡水車的淹水事件，整個系統與工程品保出了問題。核工專家林宗堯曾上書直言：「核四再繼續蓋下去，絕對不可能安全運轉！」
	</p>

	<h6 class="highlight-head">
		未通過原能會安全審查
	</h6>
	<p>
	在核能安全與風險管理領域有20年經驗的歐盟核安專家，清楚指出核四在設計上的弱點，以及在結構、系統、組件上的缺陷，更指出面對現存的自然災害，核四不可能加以改善進而達到可接受的安全層級。因此歐盟核安專家作出「最好取消核四計畫」的結論建議。
	</p>

	<p>
	事實上，2013年經濟部要求弊端不斷的核四進行重新安檢，但當時經濟部力邀的核安專家林宗堯先生，因看不過去安檢淪為公關辭令的作文比賽，進而退出安檢小組不願背書。後來更被媒體揭露，爐心隔離冷卻系統、高壓爐心灌水系統、反應器保護系統、緊急柴油發電機系統、多處冷卻水流失事故測試等諸多重要系統的安檢測試結果，也未通過原能會的安全審查而被退回。核四如果續建運轉，絕對會是核安的大災難。
	</p>


{% endblock %}
