{% extends "partials/details.njk" %}

{% block summary %}
9. 聽說日本福島核災已經恢復，真的嗎？
{% endblock %}

{% block number %}Q9{% endblock %}

{% block headline %}
聽說日本<em>福島核災</em><br />
已經恢復，真的嗎？
{% endblock %}

{% block sub_headline %}
返鄉的災民僅約15%。所謂的除污工作只是將受污表土挖起後集中堆放，無法根本消除，污水仍嚴重超標，確診甲狀腺癌的18歲以下青少年人數是災前的60倍。
{% endblock %}

{% block content %}


	<p>
福島核災是因2011年3月11日東日本大震災所引起的一系列設備損毀、爐心熔毀、放射線大量外洩等核能災害事件，為全球自1986年車諾比核電廠事故以來最嚴重的核能事故。至今經過七年後，大部分災區的輻射計量已有所降低，部分區域也努力重建，但所引發社會、經濟、環境的影響，依舊衝擊著東日本地區。
	</p>

	<h6 class="highlight-head">
	只有15％ 的災民回家
	</h6>

  <p>
  國際放射防護委員會建議一般人的受曝限度為1毫西弗／年，日本政府逐步解除避難指示所依據的輻射標準卻高達20毫西弗／年，寬鬆的標準引發大量批評，使得返回者相當有限。解除避難指示一年後，大多數災民認為受災故鄉仍不適合返回，返回比例只有15%上下，多是高齡者，但相關的生活與醫療福利已被取消，陷入新的困境。
  </p>

	<h6 class="highlight-head">
  沒有輻射污染了嗎？
	</h6>

  <p>
  日本政府雖然編列大筆經費進行除污工作，但所謂的除污工作並不是真的消除輻射污染，而是將受污染的表土挖起，將污染源移動集中堆放，依舊無法根本消除。事實上，福島核電廠近期也被發現其污水還是嚴重超標，日以繼夜地流向太平洋中。
  </p>

	<h6 class="highlight-head">
    兒童罹癌率大增
	</h6>

  <p>
  根據日本地球之友（FoE Japan）的最新報告，到目前為止福島縣針對18歲以下青少年進行的甲狀腺癌篩檢，共有159位確診，是災前的60倍。
  </p>

	<h6 class="highlight-head">
    天價處理費
	</h6>

  <p>
  核災的後續處理與賠償至今還沒有結束，統計指出，若將輻射污染土的最終處理費、爐心熔毀的福島第一核電廠和輻射污水的處理費等都計算進去，核災處理費恐攀升至50兆至70兆日元以上。
  </p>

{% endblock %}
