<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>向核電說不！16投不同意</title>
    <meta name="description" content="拒絕以核擋綠，邁向非核減煤！"/>
    <link rel="shortcut icon" href="./image/favicon.png" />


	<!-- Facebook open graph -->
	<meta property="og:url" content="https://16sayno.nonukeyesvote.tw" />
	<meta property="og:type" content="article" />
	<meta property="og:title" ontent="向核電說不！16投不同意" />
	<meta property="og:description" content="拒絕以核擋綠，邁向非核減煤！" />
	<meta property="og:image" content="./image/fb-banner.png" />


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128679846-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-128679846-1');
	</script>

	<!-- typekit -->
    <script>
      (function(d) {
        var config = {
          kitId: 'gqo3qos',
          scriptTimeout: 3000,
          async: true
        },
          h = d.documentElement,
          t = setTimeout(function() {
            h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
        tk.async = true;
        tk.onload = tk.onreadystatechange = function() {
          a = this.readyState;
          if (f || a && a != "complete" && a != "loaded") return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config)
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s)
      })(document);
    </script>

    <link rel="stylesheet" href="./css/style.scss">
    <script src="./js/main.js"></script>
  </head>

  <body>

    <section class="main-banner">

      <img class="hand" src="./image/banner-hand.svg" alt="" />

      <img class="slogan" src="./image/banner-slogan.svg" alt="" />


      <img class="side-slogan" src="./image/banner-side.svg" alt="" />

      <img class="splash" src="./image/banner-splash.svg" alt="" />
      <h1 class="headline h1"><span>拒絕以核擋綠，<br/> 邁向非核減煤！</span></h1>

      <h2 class="headline-from">全國廢核行動平台</h2>

      <div class="can-cluster-left">
        <div class="cluster-position">
          <img class="can can-0" src="./image/banner-can.svg" alt="" />
          <img class="can can-1" src="./image/banner-can.svg" alt="" />
          <img class="can can-2" src="./image/banner-can.svg" alt="" />
          <img class="can can-3" src="./image/banner-can.svg" alt="" />
          <img class="can can-4" src="./image/banner-can.svg" alt="" />
          <img class="can can-5" src="./image/banner-can.svg" alt="" />
        </div>
      </div>

      <div class="can-cluster-right">
        <div class="cluster-position">
          <img class="can can-6" src="./image/banner-can.svg" alt="" />
          <img class="can can-7" src="./image/banner-can.svg" alt="" />
          <img class="can can-8" src="./image/banner-can.svg" alt="" />
          <img class="can can-9" src="./image/banner-can.svg" alt="" />
        </div>
      </div>
    </section>

    <main>
      <section class="section doyouknow">
        <div class="doyouknow-left">
          <p>
          <em>你知道，</em>
          <br> 今年底有選舉，
          <br> 而且有多達十張公投選票要拿嗎？


          <br>
          <br>

          <em>你知道，</em>
          <br> 其中一項公投
          <br> 會讓台灣繼續暴露在核災風險中嗎？

          </p>
          <img src="./image/doyouknow.svg" alt="">
        </div>

        <div class="doyouknow-right">

          <p>
有一群支持核電的人發起號稱「以核養綠」的公投，主文是：「您是否同意：廢除電業法第95條第1項，即廢除『核能發電設備應於中華民國一百十四年以前，全部停止運轉』之條文？」
          </p>

          <p>
          <em>
意思是：用了近四十年的老舊核一二三廠要再延役，破爛拼裝的核四廠要重啟！
          </em>
          </p>

          <p>
擁核公投宣稱「養綠」，是假的！擁核公投不僅沒有提升綠能，實際上更是養核又養煤。
          </p>

        </div>
      </section>


      <section class="section">
        <div class="plea">
          <img src="./image/plea.svg" alt="">
        </div>
      </section>

      <section class="section-wants">
        <header>
          <img class="section-header-img" src="./image/header-nonuke.svg" alt="">
          <h1 class="h1">我們要的能源轉型！</h1>
        </header>

        <ul>
          <li>
            <div class="want-box">
              <h5>1</h5>
              <h6 class="h1">綠色永續<br/><small>的能源轉型</small></h6>
              <h6 class="h1 on-small">綠色永續的能源轉型</h6>
              <p>非核、減煤、發展再生能源</p>
            </div>
            <img src="./image/want-1.svg" alt="">
          </li>

          <li>
            <div class="want-box">
              <h5>2</h5>
              <h6>節能高效<br/><small>的能源轉型</small></h6>
              <h6 class="on-small">節能高效的能源轉型</h6>
              <p>電力需求零成長、能源效率最大化</p>
            </div>
            <img src="./image/want-2.svg" alt="">
          </li>

          <li>
            <div class="want-box">
              <h5>3</h5>
              <h6>公平正義<br/><small>的能源轉型</small></h6>
              <h6 class="on-small">公平正義的能源轉型</h6>
              <p>推動能源稅帶動高耗能產業轉型、移除化石燃料補貼，支持過去在能源政策發展中被犧牲的社群。</p>
            </div>
            <img src="./image/want-3.svg" alt="">
          </li>

          <li>
            <div class="want-box">
              <h5>4</h5>
              <h6>公民參與<br/><small>的能源轉型</small></h6>
              <h6 class="on-small">公民參與的能源轉型</h6>
              <p>以公民、社區參與為基礎的綠能與節能政策</p>
            </div>
            <img src="./image/want-4.svg" alt="">
          </li>
        </ul>
      </section>

      <section class="section">
        <header>
          <img class="section-header-img" src="./image/header-qa.svg" alt="">
        </header>
        {% include "partials/card-1.njk" %}
        {% include "partials/card-2.njk" %}
        {% include "partials/card-3.njk" %}
      </section>


      <section class="section">
        <div class="qa-list-head">
          <img class="qa-list-girl" src="./image/qa-list-girl.svg" alt="">
          <h3>我想知道更多!</h3>

          <img class="label-img label-worry" src="./image/label-worry.svg" alt="" />
          <img class="label-img label-question" src="./image/label-question.svg" alt="" />
        </div>

        {% include "partials/q4.njk" %}
        {% include "partials/q5.njk" %}
        {% include "partials/q6.njk" %}
        {% include "partials/q7.njk" %}
        {% include "partials/q8.njk" %}
        {% include "partials/q9.njk" %}
        {% include "partials/q10.njk" %}
        {% include "partials/q11.njk" %}
        {% include "partials/q12.njk" %}
        {% include "partials/q13.njk" %}
      </section>

      <section class="partner section">
        <img class="section-header-img" src="./image/partner-header.svg" alt="" />

        <img class="partner-map" src="./image/partner-map.svg" alt="" />

        <div class="partner-promo">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeifPHCMC8lACStd6mZ-V7X5tBySXqez2xjE-KDjp8WUdnX-A/viewform"><img src="./image/partner-store.svg" alt="" /></a>
          <h4>
            <a <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeifPHCMC8lACStd6mZ-V7X5tBySXqez2xjE-KDjp8WUdnX-A/viewform">
              我有經營空間，可以放置反核文宣！ <br />
              我也想成為據點！
            </a>
          </h4>
        </div>

        <h4 class="partner-count">
            <a <a target="_blank" href="https://www.google.com/maps/d/u/0/viewer?mid=1v2Kyha4wwm-P3jUxaZ7CNNS1hy2AmWXY&shorturl=1&ll=23.634056323330025%2C121.00131349999992&z=7">
          <img src="./image/partner-couple.svg" alt="" /> 全台反核據點
          <br />
          <em>469</em>間
            </a>
        </h4>

      </section>

      <section class="section section-action">
        <img class="section-header-img" src="./image/header-action.svg" alt="" />
        <ul>
          <li>
            <a target="_blank" href="https://goo.gl/zoXf4D" target="_blank">
              <img src="./image/action-link-1.svg" alt="" width="200" height="161"/>
              <div>加入志工</div>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://gcaa.neticrm.tw/civicrm/event/info?reset=1&id=123"  target="_blank">
              <img src="./image/action-link-2.svg" alt="" width="150" height="152"/>
              <div>舉辦講座</div>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://goo.gl/8NaHJL"  target="_blank">
              <img src="./image/action-link-3.svg" alt="" width="150" height="170"/>
              <div>搜集不同意票</div>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://gcaa.neticrm.tw/civicrm/event/info?reset=1&id=124"  target="_blank">
              <img src="./image/action-link-4.svg" alt=""  width="150" height="101"/>
              <div>放映核電影</div>
            </a>
          </li>
          <li>
            <a href="">
              <img src="./image/action-link-5.svg" alt=""  width="150" height="150.1"/>
              <div>下載電子書</div>
            </a>
          </li>
        </ul>
      </section>

      <section class="section section-links">
          <a target="_blank" href="https://www.facebook.com/stopnukesnow">
          <img src="./image/link-news.svg" alt="" />
        </a>
        <a href="https://www.youtube.com/channel/UCfhDy5BzXTxhZdCXlwcYimA">
          <img src="./image/link-video.svg" alt="" />
        </a>
      </section>

    </main>


    <footer>
        <div class="about">
            <h6>關於我們</h6>
            <p><a  target="_blank" href="http://nonukeyesvote.tw">全國廢核行動平台</a></p>
            <p>
            為有效匯聚民間力量的支援與資源，我們匯集北中南東四地理念相近的公民力量，針對廢核進行全台串連、教育與動員。
            </p>
            <p>
            2013年03月09日的全國廢核大遊行，北中南東共有22萬人上街展現廢核的民間力量，要求直接停建核四。北部、中部、南部、東部等數百個民間團體共同組成了「全國廢核行動平台」，進行大規模的民間力量串聯，希望能匯聚公民的力量一起行動。
            </p>
        </div>

        <div class="about">
            <h6>媒體採訪</h6>
            <p>
            採訪、索取新聞稿、合作邀請，請來信：<br />
            nonukeactiontw@gmail.com
            </p>
            
            <h6>製作團隊</h6>
            <p>
            主視覺、插圖繪製：翁俊儒<br />
            美編排版：劉耘<br />
            書法題字：廖小子<br />
            網站工程：Steven
            </p>
        </div>

        <div class="subsription">
            <h6>歡迎訂閱不同意票電子報 </h6>
            <p>
                將不定期發佈與廢核、能源政策等相關重要訊息、行動。
            </p>
            <p>
                <a target="_blank" href="https://goo.gl/8NaHJL">訂閱連結</a>
            </p>
        </div>

    </footer>


  </body>

</html>
